* {
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: "Helvetica", sans-serif;
}

.container {
  background-color: #C2DEDC;
  max-width: 600px;
  margin: 100px auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

h1 {
  margin-top: 0;
  text-align: center;
font-weight: 200;
}
label{
  font-weight:540;

}
input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 10px 0;
  width: 100%;
  background-color: #f2f2f2;
}

button {
  background-color: #116A7B;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #3d858e;
}

#total {
  font-size: 24px;
  font-weight: bold;
  margin-top: 10px;
}